
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="basicb.html">

    <script src="//unpkg.com/vue"></script>
    <script src="//unpkg.com/axios/dist/axios.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script src="//use.fontawesome.com/94a2ab0e75.js"></script>

    <title>sodonnell.github.io</title>

</head>
<body class="has-navbar-fixed-top">

<nav class="navbar is-fixed-top is-transparent">
    <div class="navbar-brand">
        <a class="button" href="//seanodonnell.com/">Sean O'Donnell</a>
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>

<div id="app" class="container">
    <section class="section">
        <div class="columns">
            <div id="head" class="column" >
                <h1 class="title">Github Repositories</h1>
                <div>
                    <a id="sbutt" class="button is-success" v-on:click="show()">{{ moreview }} Repos</a>
                </div>
                <div id="rquote">
                    <p>
                        <i>{{ quote.txt }}</i>
                    </p>
                </div>
            </div>
            <div class="column" v-if="more">
                <h1 class="title"> Random Quotes: </h1>
                <ul class="menu-list">
                    <li v-for="i in results.quotes">"{{ i.txt }}"</li>
                </ul>
            </div>
        </div>
    </section>
</div>

<script>

    const url = "../repos.json";

    const vm = new Vue({
        el: '#app',
        data: {
            results: [],
            quote: {},
            x: 0,
            more: false,
            moreview: 'Show',
        },
        mounted() {
            axios.get(url).then(response => {
                this.results = response.data;
            this.rquote();
        })
        },
        methods: {
            show() {
                (this.more == true) ? this.more=false : this.more=true;
                (this.more == true) ? this.moreview='Hide' : this.moreview='Show';
            }
        }
    });
</script>

</body>
</html>
